[submodule "protobuf"]
	path = protobuf
	url = https://github.com/jesseDtucker/protobuf.git
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/jesseDtucker/Utilities.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
